/*! CSS Used from: ../css/style.css */

html {
    scroll-behavior: smooth
}

body {
    align-items: center;
    display: flex;
    cursor: none;
    font-family: sans-serif;
    justify-content: center;
    background: url(../img/wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    perspective: 1px;
    height: 100vh;
    margin: 0;
    font-family: 'Exo 2', Font-reg;
}

body h1, body p, body a {
    color: #fff;
}

body .cursor {
    pointer-events: none;
}

body .cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 1000;
}

body .cursor__ball circle {
    fill: #f7f8fa;
}

body .left, body .right {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body .right {
    background: #fff;
}

body .right a {
    border-bottom: 2px solid #000;
}

body .right h1, body .right p, body .right a {
    color: #000;
}

body a {
    color: #fff;
}

.row {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 50px;
}

:focus {
    outline: 2px dashed #e4a4ad;
}

li {
    cursor: none;
}

a {
    cursor: none;
    color: #fff;
    text-decoration: none;
}

img {
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#top-menu {
    display: block;
}

@media (max-width: 900px) {
    #top-menu {
        display: none;
    }
}

@media (max-width: 603px) {
    .topLine .logo img {
        margin: 0 0px 5px 5px!important;
        height: 40px!important;
    }
}

.topMenu {
    float: left;
    font-size: 12pt;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.topLine .logo {
    display: inline-block;
    float: left;
    position: relative;
    text-align: left;
}

.topLine .logo ::after {
    display: inline-block;
    color: #ffffff;
    font-size: 17pt;
    padding: 7px 5px;
    margin-right: 5px;
    border-left: 2px solid #ffffff;
    transform: translateY(3px);
    line-height: .8;
    text-transform: uppercase;
    box-sizing: border-box;
}

.topLine .logo img {
    border-radius: 500px;
    cursor: none;
    pointer-events: auto;
    display: inline-block;
    height: 40px;
    margin: 5px 0px 5px 5px;
}

.topLine .logo a:focus img {
    box-shadow: 0px 1px 3px 0px black;
    outline: none;
}

.topLine .logo a:focus {
    box-shadow: none;
    outline: none;
}

.topLine {
    box-shadow: 0px -3px 20px 0px rgba(0, 0, 0, .4);
    position: absolute;
    top: 0px;
    background: #7f78bd;
    min-width: 100%;
    height: 60px;
    z-index: 1;
}

.topLine.h {
    box-shadow: 0px -3px 20px 0px rgba(0, 0, 0, .4);
    position: absolute;
    top: 0px;
    background: #7f78bd;
    min-width: 100%;
    height: 50px;
    z-index: 1;
}

.topMenu ul {
    padding: 0;
    margin: 0;
}

.topMenu li {
    padding-top: 19px;
    display: inline-block;
    color: black;
    min-height: 100%;
    line-height: 1;
    text-decoration: none;
    cursor: none;
    opacity: 0.8;
    transition: all 0.3s;
}

.topMenu li a {
    padding: 15px;
}

.topMenu li:hover {
    opacity: 1;
    transform: scale(1.05) translateY(-1px);
}

.fa, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa-coffee:before {
    content: "\f0f4";
}

.fa-info-circle:before {
    content: "\f129";
}

.fa-coffee:before {
    content: "\f0f4";
}

.fa-info-circle:before {
    content: "\f05a";
}

.fa-newspaper:before {
    content: "\f1ea";
}

.fa, .fas {
    font-family: "Font Awesome 5 Free";
}

.fa, .fas {
    font-weight: 900;
}

/*! CSS Used fontfaces */

@font-face {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url(../fonts/fa-regular-400.eot);
    src: url(../zippp/fonts/fa-regular-400.eot#iefix) format("embedded-opentype"), url(../fonts/fa-regular-400.woff2) format("woff2"), url(../fonts/fa-regular-400.woff) format("woff"), url(../fonts/fa-regular-400.ttf) format("truetype"), url(../fonts/fa-regular-400.svg#fontawesome) format("svg");
}

@font-face {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    font-display: auto;
    src: url(../fonts/fa-solid-900.eot);
    src: url(../fonts/fa-solid-900.eot#iefix) format("embedded-opentype"), url(../fonts/fa-solid-900.woff2) format("woff2"), url(../fonts/fa-solid-900.woff) format("woff"), url(../fonts/fa-solid-900.ttf) format("truetype"), url(../fonts/fa-solid-900.svg#fontawesome) format("svg");
}