@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
.buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn1 {
    color: hsl(0 0% 96%);
    font-size: 20px;
    margin: 14px;
    font-family: inherit;
    padding: 14px 28px;
    border: 0;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.15s ease-in-out;
    box-shadow: 0 4px 6px -1px hsl(0 0% 0% / 0.07), 0 2px 4px -1px hsl(0 0% 0% / 0.07);
}

.btn1:active {
    transform: scale(0.96);
}

.btn1--success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.btn1--danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.btn1--warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}