/*! CSS Used from: https://zippwitch-alt.github.io/zippp/css/style.css */

body {
	align-items: center;
	display: flex;
	font-family: sans-serif;
	justify-content: center;
	background: url(../img/wallpaper.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	perspective: 1px;
	transform-style: preserve-3d;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100vh;
	margin: 0;
	font-family: 'Font-reg', Font-reg;
}

header {
	box-sizing: border-box;
	min-height: 60vh;
	color: #fff;
	position: relative;
	transform-style: inherit;
	width: 100vw;
	text-align: center;
	text-transform: uppercase;
}

header h1 {
	margin: 0;
	position: absolute;
	font-size: 100px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
	margin-bottom: 0;
	padding: .5rem 10rem .625rem 10rem;
	font-size: 90px;
	text-transform: uppercase;
	border-radius: 15px;
}

header h1:hover {
	background-color: rgba(0, 0, 0, 0.479);
	color: rgb(228, 228, 228);
	border-radius: 15px;
}

header, header:before {
	background: 50% 50% / cover;
}

header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	background: url(../img/banner.jpg);
	background-size: cover;
	transform-origin: center center 0;
	transform: translateZ(-1px) scale(2);
	z-index: -1;
	min-height: 100vh;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	width: 300px;
	height: 50px;
	margin: 150px;
	font-size: 26px;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
	cursor: pointer;
	border: none;
	border-radius: 5px;
	transition: 300ms;
}

.black {
	background: #7f78bd;
	box-shadow: 0px 5px #332a63, 0px 10px 10px rgba(0, 0, 0, 0.25);
}

button:hover {
	transform: translateY(5px);
	box-shadow: 0px 0px transparent, 0px 5px 10px rgba(0, 0, 0, 0.25);
}

button:focus {
	outline: none;
}

.parallaxContainer {
	z-index: 2;
	position: absolute;
	top: 110vh;
	background: rgba(0, 0, 0, 0.74);
	color: grey;
	padding: 10px;
	border-radius: 20px;
}

.container {
	align-items: center;
	display: flex;
	height: 600px;
	justify-content: center;
	width: 900px;
}

.row {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 50px;
}

:focus {
	outline: 2px dashed #e4a4ad;
}

li {
	cursor: default;
}

body {
	width: 100%;
	height: 100%;
	background-color: #332a63;
	margin: 0;
	padding: 135px 0px 0px 0px;
	font-family: 'Exo 2', sans-serif;
	position: relative;
}

a {
	color: #fff;
	text-decoration: none;
}

img {
	pointer-events: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#top-menu {
	display: block;
}

@media (max-width: 900px) {
	#top-menu {
		display: none;
	}
}

@media (max-width: 775px) {
	tr {
		background-position: center!important;
	}
}

@media (max-width: 992px) {
	td:first-child {
		width: 30px!important;
	}
	.serverAvatar {
		width: 100px!important;
	}
	.join {
		width: 130px!important;
	}
}

@media (max-width: 603px) {
	.labelServerText {
		margin-top: 33px;
		margin-left: 20px;
		text-align: left;
	}
	.description {
		margin-top: 0!important;
	}
	.topLine .logo img {
		margin: 0 0px 5px 5px!important;
		height: 40px!important;
	}
	.mobileServerAvatar {
		border-radius: 10px;
		width: 100px;
		height: 100px;
		margin-top: 5px;
	}
	.serverAvatar img {
		display: none!important;
	}
	.serverAvatar {
		width: 100%!important;
		border-left: none!important;
		border-bottom: none!important;
		display: block;
		margin: auto;
	}
	.serverDesc {
		border-left: none!important;
		border-top: none!important;
		border-bottom: none!important;
		display: block;
		text-align: center;
	}
	.join {
		border-radius: 0!important;
		width: 100%!important;
		display: block;
		border-top: none!important;
		border-left: none!important;
	}
}

@media (min-width: 603px) {
	.hideServerAvatar {
		display: none;
	}
	.numSection {
		border-right: none!important;
	}
	.serverAvatar {
		border-left: none!important;
		border-right: none!important;
	}
	.serverDesc {
		border-left: none!important;
		border-right: none!important;
	}
	.join {
		border-left: none!important;
	}
}

.hideServerAvatar {
	position: relative;
	left: 22px;
}

.topMenu {
	float: left;
	font-size: 12pt;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.topLine .logo {
	display: inline-block;
	float: left;
	position: relative;
	text-align: left;
}

.topLine .logo ::after {
	display: inline-block;
	color: #ffffff;
	font-size: 17pt;
	padding: 7px 5px;
	margin-right: 5px;
	border-left: 2px solid #ffffff;
	transform: translateY(3px);
	line-height: .8;
	text-transform: uppercase;
	box-sizing: border-box;
}

.topLine .logo img {
	border-radius: 500px;
	cursor: pointer;
	pointer-events: auto;
	display: inline-block;
	height: 40px;
	margin: 5px 0px 5px 5px;
}

.topLine .logo a:focus img {
	box-shadow: 0px 1px 3px 0px black;
	outline: none;
}

.topLine .logo a:focus {
	box-shadow: none;
	outline: none;
}

.topMenu ul {
	padding: 0;
	margin: 0;
}

.topMenu li {
	padding-top: 19px;
	display: inline-block;
	color: black;
	min-height: 100%;
	line-height: 1;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.8;
	transition: all 0.3s;
}

.topMenu li a {
	padding: 15px;
}

.topMenu li:hover {
	opacity: 1;
	transform: scale(1.05) translateY(-1px);
}

main {
	color: #fff;
	position: relative;
	padding-bottom: 60px;
	min-height: calc(100vh - 195px);
}

main.h {
	color: #fff;
	position: relative;
	padding-bottom: 50px;
	min-height: calc(100vh - 385px);
}

.tr {
	border-radius: 20px;
	background: #343D46;
}

tr:first-child {
	border-top-left-radius: 20px;
}

td:first-child {
	background: #37404A;
	width: 20px;
	text-align: center;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	-moz-border-top-left-radius: 20px;
	-moz-border-bottom-left-radius: 20px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
}

.serverStatus {
	width: 27px;
	height: 27px;
	background: transparent;
	border-radius: 3px;
	padding: 3px;
	transition: all 0.2s;
}

td:first-child:hover .serverStatus {
	border-radius: 10px;
	padding: 1px;
}

td:first-child img {
	pointer-events: none;
	width: 27px;
	border-radius: 10px;
}

td:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

.serversList {
	width: 100%;
	border-spacing: 0 20px;
}

.serverAvatar {
	width: 110px;
}

.serverAvatar img {
	object-fit: cover;
	margin: auto;
	pointer-events: none;
	width: 80px;
	height: 80px;
	padding: 5px;
	border-radius: 25%;
	display: block;
}

.join {
	width: 150px;
}

.boost {
	color: #fff;
	background: #7f78bd;
	border-radius: 5px;
	padding: 6px 24px 6px 24px;
	cursor: pointer;
	transition: all 0.3s;
	display: block;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.boost:hover {
	background: #687CC7;
}

.boost.t3:hover {
	transition: .6s linear;
	background: #7f78bd linear-gradient(-80deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .5), rgba(255, 255, 255, 0)) no-repeat!important;
	background-size: 2em 100%!important;
	background-position: 200% 0%!important;
}

.boost.t3 {
	background: #7f78bd;
}

.numSection {
	background: #37404A;
	border: 2px solid #37404A;
}

.serverAvatar {
	border: 2px solid #37404A;
}

.serverDesc {
	border-top: 2px solid #37404A;
}

.join {
	border: 2px solid #37404A;
}

.numSection.t3 {
	background: #7f78bd;
	border: 2px solid #7f78bd;
}

.serverAvatar.t3 {
	border: 2px solid #7f78bd;
}

.serverDesc.t3 {
	border: 2px solid #7f78bd;
}

.join.t3 {
	border: 2px solid #7f78bd;
}

.aboutbt {
	background: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 6px 16px 6px 16px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	display: block;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.aboutbt:hover {
	background: #fff;
	color: #343D46;
}

.serverName {
	font-size: 18px;
}

.description {
	color: #fff;
	margin-top: -10px;
	word-break: break-word;
	opacity: 0.6;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

td:hover .description {
	opacity: 1;
}

.topLine {
	box-shadow: 0px -3px 20px 0px rgba(0, 0, 0, .4);
	position: absolute;
	top: 0px;
	background: #7f78bd;
	min-width: 100%;
	height: 60px;
	z-index: 1;
}

.topLine.h {
	box-shadow: 0px -3px 20px 0px rgba(0, 0, 0, .4);
	position: absolute;
	top: 0px;
	background: #7f78bd;
	min-width: 100%;
	height: 50px;
	z-index: 1;
}

.rating.all {
	font-size: 12px;
	color: #fff;
	cursor: help;
	border-radius: 5px;
	border-bottom: solid 1px #fff;
	padding: 6px 24px 6px 24px;
	display: block;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}

/*! CSS Used from: https://zippwitch-alt.github.io/zippp/css/all.min.css */

.fa, .fas {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
}

.fa-coffee:before {
	content: "\f0f4";
}

.fa-info-circle:before {
	content: "\f129";
}

.fa-coffee:before {
	content: "\f0f4";
}

.fa-info-circle:before {
	content: "\f05a";
}

.fa-newspaper:before {
	content: "\f1ea";
}

.fa, .fas {
	font-family: "Font Awesome 5 Free";
}

.fa, .fas {
	font-weight: 900;
}

/*! CSS Used fontfaces */

@font-face {
	font-family: 'Font-reg';
	src: url('../fonts/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKsOdC_ (1).ttf');
	font-weight: 200;
}

@font-face {
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/exo2/v10/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKsNNC_nps.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/exo2/v10/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKsPdC_nps.woff2) format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/exo2/v10/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKsNtC_nps.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/exo2/v10/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKsN9C_nps.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/exo2/v10/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKsOdC_.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Font Awesome 5 Free";
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url(../fonts/fa-regular-400.eot);
	src: url(../fonts/fa-regular-400.eot#iefix) format("embedded-opentype"), url(../fonts/fa-regular-400.woff2) format("woff2"), url(../fonts/fa-regular-400.woff) format("woff"), url(../fonts/fa-regular-400.ttf) format("truetype"), url(../fonts/fa-regular-400.svg#fontawesome) format("svg");
}

@font-face {
	font-family: "Font Awesome 5 Free";
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url(../fonts/fa-solid-900.eot);
	src: url(../fonts/fa-solid-900.eot#iefix) format("embedded-opentype"), url(../fonts/fa-solid-900.woff2) format("woff2"), url(../fonts/fa-solid-900.woff) format("woff"), url(../fonts/fa-solid-900.ttf) format("truetype"), url(../fonts/fa-solid-900.svg#fontawesome) format("svg");
}

.errorPage {
	margin-top: -10px;
	color: #F04747;
	padding: 5px;
	border: 2px solid #F04747;
	border-radius: 5px;
	background: #23272A;
}

.wumpusEasteregg {
	pointer-events: auto;
	opacity: 0.1;
	transition: all 0.5s;
}

.wumpusEasteregg:hover {
	opacity: 1;
}